* {
  margin: 0;
  padding: 0;
}

h1 {
  color: blueviolet;
  font-size: 40px;
}

nav {
  background-color: black;
  text-align: center;
  font-size: 0px;
  /* padding: 10px; */
  /* text-decoration: none; */
}

nav a {
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 8px 20px;
  text-decoration: none;
  /* background-color: black; */
  transition: 1s;
}

nav a:hover {
  background-color: orange;
}

p {
  color: grey;
  margin-bottom: 30px;
}
